<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Academic Details</title>
    
</head>

<body>
<form th:action="@{/view/academicResults}" method="get">
<div class="button-container">
		
		<input type="hidden" name="name" th:value="${name}" />
        <label for="examType">Select Exam Type:</label>
        <select name="examTypeName" id="examTypeName" >
            <option value="">--Select Exam--</option>
            <option value="UnitTest1">unit1</option>
            <option value="UnitTest2">unit2</option>
            <option value="Quarterly">Quarterly</option>
            <option value="half-early">Half-Yearly</option>
            <option value="Annuval">Annuval</option>
            
        </select>
        <input type="submit" value="submit" />
    </div>
    </form>




</body>
</html>