<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Exam Details</title>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
</head>
<body>
    <h1>Student Exam Details</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Exam Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="examType : ${exams}">
                <td th:text="${examType.id}"></td>
                <td th:text="${examType.exam_name}"></td>
                <td th:text="${examType.date}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>